{% extends "_base.html" %} {% load static %}

{% block not_auth_content %}
    <div class="signup">
        <form action="{% url 'signup' %}" method="post">
            {% csrf_token %}
            {% comment %} {{ form.as_p }} {% endcomment %}
            {{ form.username.label }}
            {{ form.username }}

            {{ form.phone_number.label }}
            {{ form.phone_number }}

            {{ form.password1.label }}
            {{ form.password1 }}

            {{ form.password2.label }}
            {{ form.password2 }}

            <button type='submit'>SignUp</button>

        </form>
    </div>
{% endblock not_auth_content %}

{% block content %}
    <div class="signup">
        <h1>Hey <b>{{user}}</b>, you are logged in</h1>
    </div>
{% endblock content %}
